@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Countries</h1>
</div>
<div class="mt-5">
    <table id="countries" class="table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Capital</th>
            <th>Continent</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        
        $(document).ready(function () {
            $('#countries').DataTable({
                serverSide: true,
                ajax: {
                    url: 'filter'
                },
                columns: [
                    { data: "code", render: getFlagImage },
                    { data: "name" },
                    { data: "capital" },
                    { data: "continent" }
                ],
                order: [[1, 'desc']],
                columnDefs: [
                    { targets: [0], orderable: false }
                ],

            });
            
            function getFlagImage(flagCode) {
                console.log(flagCode)
                return  `<img src="/images/flags/${flagCode.toLowerCase()}.png" />`;
            }
        });
    </script>
}
