@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Countries</h1>
</div>

<div class="mt-5">
    <table id="countries" class="table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Capital</th>
            <th>Continent</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@section scripts {
    <script>
        
        $(document).ready(function () {
            $('#countries').DataTable({
                serverSide: true,
                ajax: {
                    url: 'filter'
                },
                columns: [
                    { data: "code" },
                    { data: "name" },
                    { data: "capital" },
                    { data: "continent" }
                ]
            });
        });
    </script>
}
