@page
@model AspNetWebDocker.Pages.IndexModel

<div class="d-flex flex-column justify-content-center">
    <p>This is my docker sample homepage</p>
    <img src="~/images/trex.jpg" class="image-fluid"/>
</div>
