@page
@model AspNetRazorPagesSimpleTemplate.Pages.IndexModel

<div class="d-flex flex-column justify-content-center">
    <p>This is my simple template homepage</p>
    <img src="~/images/trex.jpg" class="image-fluid"/>
</div>
